.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    width: calc(100% - 200px*2);
}

@media screen and (max-width: 995px) {
    .cards {
        width: 282px;
    }
}