.profile__edit-button {
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47%;
    position: relative;
    top: -8px;
    left: 1px;
    margin: 0 0 0 18px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: black;
    min-width: 24px;
    min-height: 24px;
    transition: 0.3s;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 995px) {
    .profile__edit-button {
        top: -7px;
        left: 0;
        min-width: 18px;
        min-height: 18px;
        margin: 0 0 0 10px;
    }
}
