.popup__nickname {
    border: none;
    outline: none;
    padding: 0 0 10px 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 47px 0 0;
    font-size: 14px;
    line-height: 1.22;
}

.popup__nickname:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 995px) {
    .popup__nickname {
        margin: 75px 0 0;
    }
}
