.card__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 22px;
    height: 19px;
    transition: 0.3s;
    border: none;
    background-color: white;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}