    .card {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 282px;
        height: 361px;
        transition: 0.4s;
    }
    
    .card:hover {
        transform: translateY(-5px);
    }